#show-contact {
    display: none;
}
.contact {
    cursor: poiter;
    color: blue;
}
.contact:hover {
    text-decoration: underline;
}
.bg-img {
    /* The image used */
    background-image: url("../images/smartphones.jpg");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }